* {
    padding: 0;
    margin: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.index {
    width: 750px;
    min-height: 700px;
    margin: 0 auto;
    background: #eee;
}

.index .list {
    margin-bottom: 20px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
}

.index .mt100 {
    margin-top: 400px;
}

.detail {
    width: 100%;
    height: auto;
}

.detail .detailImg {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.detailImg img {
    width: 100%;
    height: 100%;
}

.detailInfo {
    box-sizing: border-box;
    padding: 0 15px 15px;
}

.detailInfo h3 {
    font-size: 35px;
}

.detailInfo .text {
    color: #888;
    font-size: 18px;
}

.detailInfo .price {
    display: flex;
    margin-bottom: 20px;
}

.price div {
    margin-right: 20px;
    font-size: 25px;
}
.text {
    font-size: 24px;
}
.van-goods-action-button {
    height: 70px;
    font-size: 20px;
}

.van-goods-action {
    position: absolute;
    bottom: 200px;
}
.van-tabbar{
    height: 120px;
}
.van-tabbar-item {
    font-size: 35px;
}
.van-icon{
    font-size: 40px;
}
.van-info {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.overBox{
    width: 90%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
}
.title{
    font-size: 35px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.itemLeft{
    font-size: 28px;
}
.itemRight input {
    border:1px solid #ccc;
    padding:10px;
    height: 40px;
    width: 80%;
    font-size: 30px;
    margin: 20px 0;
}
.itemBtn button {
    width: 40%;
    height: 60px;
    font-size: 32px;
}