* {
    padding: 0;
    margin: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.index {
    width: 750px;
    min-height: 700px;
    margin: 0 auto;
    background: #fafafa;
}

.index .list {
    margin-bottom: 20px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
}

.index .mt100 {
    margin-top: 400px;
}

.van-tabbar {
    height: 120px;
}

.van-tabbar-item {
    font-size: 35px;
}

.van-icon {
    font-size: 40px;
}

.van-info {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.van-cell {
    font-size: 30px;
    line-height: 50px;
}

.van-tabs--line .van-tabs__wrap {
    height: 70px;
}

.van-tabs__wrap .van-ellipsis {
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
}

.van-button {
    width: 250px;
    height: 80px;
    font-size: 30px;
    float: right;
}

.van-cell__value {
    font-size: 25px;
}

#offer h1,
#offer-with-cost h1 {
    font-size: 30px;
    margin: 20px 10px;
}

#offer h2,
#offer-with-cost h2 {
    font-size: 20px;
    color: #666;
    padding: 10px;
}

#offer h5,
#offer-with-cost h5 {
    font-size: 14px;
    color: #666;
    padding: 5px;
}

.goods-item{
    height:120px;
}

.pull-left {
    width:20%;
    float: left;
}

.pull-left img {
    width:100%;
    height:100px;
}

.pull-right {
    width: 80%;
    float: right;
}

.van-cell-group {
    padding: 0 10px;
    background: #fafafa;
    margin: 10px 0;
}

.van-cell-group .van-cell {
    font-size: 30px;
    line-height: 50px;
    background: #fafafa;
}

.van-tabs__content {
    background: #fff;
}

.van-nav-bar {
    z-index: 1;
    height: 70px;
    line-height: 70px;
}

.van-nav-bar .van-nav-bar__title {
    font-size: 30px;
}

.van-nav-bar__text {
    font-size: 28px;
}

.download-button {
    padding-bottom: 265px;
}