*{
    padding: 0;
    margin: 0;
}
.mb10{
    margin-bottom: 10px;
}
.index{
    width: 750px;
    min-height: 700px;
    margin: 0 auto;
    background: #eee;
}

.index .list {
    margin-bottom: 20px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
}
.index .mt100{
    margin-top: 400px;
}
.nav{
    height: 60px;
    margin-bottom: 20px;
    background: #fff;
}
.nav .van-nav-bar{
    height: 60px;
    font-size: 18px;
    line-height: 60px;
}
.nav .van-nav-bar__left,
.nav .van-nav-bar__title {
    font-size: 18px;
}
.detail {
    width: 100%;
    height: auto;
}
.detail .detailImg{
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}
.detailImg img{
    width: 100%;
    height: 100%;
}

.detailInfo {
    box-sizing: border-box;
    padding:0 15px 15px;
}
.detailInfo h3{
    font-size: 24px;
}
.detailInfo .text {
    color: #888;
    font-size: 18px;
}
.detailInfo .price{
    display: flex;
}
.price div {
    margin-right: 20px;
    font-size: 18px;
}

.van-tabbar{
    height: 120px;
}
.van-tabbar-item {
    font-size: 35px;
}
.van-icon{
    font-size: 40px;
}
.van-info {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}