*{
    padding: 0;
    margin: 0;
}
.index{
    width: 750px;
    height: auto;
    margin: 0 auto;
    background: #fcfcfc;
    padding-bottom: 20px;
}

.nav{
    height: 80px;
    background: #fff;
}
.nav .van-nav-bar{
    height: 80px;
    /* padding-top: 20px; */
    font-size: 30px;
    line-height: 80px;
}
.nav .van-nav-bar__left,
.nav .van-nav-bar__title {
    font-size: 30px;
}
.cont {
    margin-top:20px;
    width:100%;
    min-height: 900px;
}  
.cont {
    background: #fafafa;
}
.cont .list {
    width: 100%;
    display: flex;
    background: #eee;
    float: left;
    box-sizing: border-box;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.list .img,
.list .img img {
    width: 200px;
    height: 200px;
}
.list .img {
    margin-right: 20px;
}
.list .box{
    flex: 1;
}
.list .name{
    font-size: 35px;
    min-height: 20px;
    margin-bottom: 10px;
}
.list .info{
    font-size: 28px;
    display: flex;
}
.info .sc,
.info .num {
    flex: 1;
}
.info .num {
    text-align: right;
}
.list .opt {
    margin-top:30px;
    text-align: right;
}

.opt .btn {
    width: 160px;
    margin-left:15px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}


.clearfix:before, .clearfix:after {
    content:"";
    display:table
}
.clearfix:after {
    clear:both
}
.clearfix {
    zoom:1
}

.fixed{
    width: 96%;
    margin:0 auto;
}
.fixed .btn{
    width: 100%;
    height: 100px;
    font-size: 40px;
}



.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.overBox {
    width: 600px;
    min-height: 500px;
    box-sizing: border-box;
    border-radius: 4px;
    padding:15px 20px;
    background-color: #fff;
}
.overBox .title {
    color:#666;
    font-size: 35px;
    margin-bottom: 15px;
}
.item {
    margin-top: 30px;
}
.item .itemLeft{
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 20px;
    font-size: 28px;
}
.item .itemRight{
    float: left;
}
.itemRight input {
    border: 1px solid #ccc;
    width: 350px;
    height: 60px;
    padding: 15px;
    box-sizing: border-box;
}
.item .van-stepper input {
    font-size: 30px;
}
.itemRight textarea{
    width: 350px;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 30px;
    border: 1px solid #ccc;
}
.itemBtn {
    padding-top:50px;
    display: flex;
}
.itemBtn .btn{
    flex:1;
    width: 180px;
    height: 70px;
    margin:0 10px;
    font-size: 32px;
}
.two .itemRight input,
.time {
    height: 60px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 350px;
    padding:0 15px;
    line-height: 60px;
    font-size: 28px;
}

.selectTime{
    padding: 30px;
    margin-top: 20px;
    border:1px solid #ccc;
}
.van-picker__toolbar button {
    font-size: 30px;
}
.van-picker-column li {
    font-size: 25px;
}
.van-tabbar{
    height: 120px;
}
.van-tabbar-item {
    font-size: 35px;
}
.van-icon{
    font-size: 40px;
}
.van-info {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}